* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  main {
    /* background-color: rgba(255, 191, 172, 0.671); */
    margin: 0 auto;
  }
  header {
    
    background: rgb(82, 83, 167);
    background: linear-gradient(
      183deg,
      rgb(100, 159, 177) 18%,
      rgb(83, 174, 190) 48%,
      rgb(157, 209, 209) 74%
    );
    color:black;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    width: 30%;
  }
  .logo img {
    width: 25%;
    padding: 3px;
    /*animation-duration: 5s;
    animation-name: slidein;*/
  }
  nav ul {
    list-style: none;
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
  }
  .menu ul li a {
    display: block;
    padding: 0 10px;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: rgb(214, 194, 194);
  }
  .menu ul li a:hover {
    color: black;
    padding: 10px;
  }
  /* titulo */
  .titulo {
    display: flex;
    flex-flow: row wrap;
    padding: 30px;
    align-items: center;
    border-bottom: 2px double rgb(173, 169, 169);
    margin-bottom: 12px;
    justify-content: space-between;
  }
  /* APLICANDO ESTILO A TODO EL CONTENIDO */
  .contenido {
    display: flex;
    flex-direction: row;
    padding: 30px;
    gap: 13px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    flex-wrap: wrap;
  }
  .contenido table tr td img {
    filter: saturate(226%) contrast(159%) drop-shadow(10px 10px 5px #fda604);
  }
  .tabla tr th {
    background: rgb(153, 142, 135);
    background: linear-gradient(
      4deg,
      rgba(199, 187, 178, 0.691) 10%,
      rgba(204, 190, 181, 0.59) 49%,
      rgba(145, 141, 136, 0.467) 74%
    );
  }
  .tabla tr td {
    border-radius: 5px;
    padding: 10px;
  }
  .titletable {
    padding: 30px;
    border-bottom: 2px double rgb(133, 113, 113);
    margin-bottom: 12px;
    justify-content: space-between;
  }
  /* ESTILO A LA PAGINA "QUIENES SOMOS" */
  .como-somos{
  display: flex;
  flex-flow: row wrap;
  }
  .como-somos div{
  margin: 5px;
  background-color: gainsboro;
  }
  .como-somos div h3{
    color: black;
  }
  .como-somos h3{
    padding: 20px;
  }
  .como-somos p{
    color: black;
    padding: 20px;
  }
  .como-somos ul{
    color: black;
    padding: 20px;
  }
  
  .somos1{
    flex:20%;
    border-radius: 15px;
  }
  .somos2{
  flex: 20%;
  border-radius: 15px;
  }
  .somos3{
    flex: 25%;
    border-radius: 15px;
  }
  .metro{
    box-shadow: 10px 10px 24px 22px rgb(116, 185, 116);
    width: 30%;
    display: flex;
    flex-flow: column wrap;
    flex: 1 1 auto;
}
.titule{
    border-bottom: 2px double green;
    /*color: green;*/
    margin-bottom: 12px;
    border-radius: 10px;

    }
.metrocentro{
        display: flex;
        flex-flow: row wrap;
        gap: 25px;
}
.metro img{
    border-radius: 10px;
    width: 100%;
}
.metro iframe{
    border-radius: 10px;
    height: 30vh;
    width: 100%;

}
 
footer h3 {
    text-align: center;
}

  /* APLICANDO ESTILO CSS A LA TABLA */
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }